body {
  background-color: #faf8f1;
  color: #0a1520;
  font-family: 'Poppins', sans-serif;
}

@keyframes moveRight{
  0%{
    transform:translateX(0)
  }
  50%{
    transform:translate(450px,300px)
  }
  100%{
    transform:translateX(0)
  }
}
